.ue {
    padding: 5%;
}

body {
    margin: 0px;
}

.main_text > .major_heading, .self_introduce > .major_heading, .contact_address > .major_heading, .accomplishment > .major_heading {
    font-family:'游ゴシック';
    font-size: 300%;
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    color: #494949;/*文字色*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px #000000;/*左線*/
    white-space: normal;
    word-wrap: break-word;

}

.top_bar {
    padding-bottom: 2em;
}

.self_introduce, .accomplishment, .contact_address {
    padding-bottom: 10em;
}

.contact_form {
    padding-top: 5em;
    padding-left: 1em;
}

.optional {
    background-color: mediumblue;
    border-radius: 2px;
    padding: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 1em;
    color: white;
}

.required {
    background-color: red;
    border-radius: 2px;
    padding: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 1em;
    color: white;
}

#your_email, #your_name, #contact_content {
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 3em;
    width: 50%;
    outline: none;
    border: #aaaaaa solid #ccc
}

#submit_button {
    background-color: rgb(90, 90, 90);
    color: white;
    border: none;
    border-radius: 2px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 2em;
}

.self_introduce p, .contact_address p, .accomplishment p, .main_text p {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 1em;
}

.link_to_home {
    padding: 15px;
    display: inline-block;
}

.link_to_home a i, .blog_logo a i{
    padding-right: 5px;
}

.another_link {
    display: inline-block;
    padding: 15px;
    padding-top: 30px;
    float: right;
    font-size: 125%;
}

.another_link a {
    padding: 5px;
    font-family: "Zen Maru Gothic", serif;
    font-style: normal;
    text-decoration: none;
    color: black;
}

.link_to_home a, .blog_logo a {
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: black;
    font-size: 225%;
}

.link_to_home a p {
    font-family: "Zen Maru Gothic", serif;
    font-style: normal;
    font-size: 45%;
    text-align: center;
}

.link_to_home a strong {
    font-weight: 500;
}

@media (max-width: 755px) {
    .url_to_page {
        display: none;
    }
}

.bottom_bar {
    background-color: #d3d3d3;
    padding: 5%;
}

.bottom_bar a {
    text-decoration: none;
    color: #6d6d6d;
}

.bottom_bar a:hover, .another_link a:hover, .link_to_home a:hover, .blog_logo a:hover {
    color: #000000;
}

.listtati {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.blog_logo {
    padding-bottom: 1em;
}

.bar_title {
    font-family: "Shippori Antique", serif;
    font-weight: 400;
    font-style: normal;

    padding-left: 8px;
    border-left: 4px solid #6d6d6d;
}

.list {
    padding: 0px;
    list-style-type: none;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
}

.copyright {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.list li:before {
    content: ">";
}

.list li {
    color: #747474;
}

@media (max-width: 1240px) {
    .listtati {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 647px) {
    .listtati {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.article {
    padding: 1em;

}

.article a {
    text-decoration: none;
    color: #494949;
}

.article a:hover {
    color: #000000;
}

.article_title {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 700;
    font-size: 25;
    font-style: normal;
}

.article_description, .article_date, .main_contents, .main_contents p {
    color: #494949;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 1em;
}

.article_date {
    padding-bottom: 1em;
}

.article_date i {
    padding-right: 5px;
}

.article_description {
    padding-bottom: 5em;
}

.numList {
    counter-reset: number;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
/*    border: solid 1px #494949;
    border-radius: 3px;*/
    list-style-type: none;
}

.numList li {
    padding: 10px;
    font-weight: bold;
}

.numList li:before {
    counter-increment: number;
    content: counter(number);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 1em;
    font-weight: bold;
    color: white;
    background-color: #494949;
    border-radius: 3px;
}