.ue {
    padding: 5%;
    min-width: 663px;
}

body {
    margin: 0px;
}

.main_text > .major_heading, .self_introduce > .major_heading, .contact_address > .major_heading, .accomplishment > .major_heading {
    font-family:'游ゴシック';
    font-size: 400%;
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    color: #494949;/*文字色*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px #000000;/*左線*/
}

.self_introduce, .accomplishment, .contact_address {
    padding-bottom: 10em;
}

.contact_form {
    padding-top: 5em;
    padding-left: 1em;
}

.optional {
    background-color: mediumblue;
    border-radius: 2px;
    padding: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 1em;
    color: white;
}

.required {
    background-color: red;
    border-radius: 2px;
    padding: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 1em;
    color: white;
}

#your_email, #your_name, #contact_content {
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 3em;
    width: 50%;
    outline: none;
    border: #aaaaaa solid #ccc
}

#submit_button {
    background-color: rgb(90, 90, 90);
    color: white;
    border: none;
    border-radius: 2px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 2em;
}

.self_introduce p, .contact_address p, .accomplishment p, .main_text p {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 1em;
}

.link_to_home {
    padding: 15px;
    display: inline-block;
}

.link_to_home a i{
    padding-right: 5px;
}

.another_link {
    display: inline-block;
    padding: 15px;
    padding-top: 30px;
    float: right;
    font-size: 125%;
}

.another_link a {
    padding: 5px;
    font-family: "Zen Maru Gothic", serif;
    font-style: normal;
    text-decoration: none;
    color: black;
}

.link_to_home a {
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: black;
    font-size: 200%;
}

.link_to_home a p {
    font-family: "Zen Maru Gothic", serif;
    font-style: normal;
    font-size: 45%;
    text-align: center;
}

.link_to_home a strong {
    font-weight: 500;
}

.bottom_bar {
    padding: 2em;
    background-color: rgb(221, 221, 221);
    color: white
}

/*文字rgb(110, 110, 110)*/
/*見出しrgb(130, 130, 130)*/

.bar {
    display: inline-block;
}

.blog_logo {
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(50, 50, 50);
    font-size: 150%;
    margin-bottom: 2em;
    margin-top: 5px;
    padding-right: 3em;
}

.blog_logo i{
    padding-right: 5px;
}

.bar_title {
    font-family: "Shippori Antique", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 125%;
    margin-bottom: 1em;
    padding-left: 10px;
    padding-right: 7em;
    border-left: 3px solid #494949;
    display: inline-block;
    color: rgb(50, 50, 50);
}

.bar_2, .bar_3, .bar_4 {
    float: left;
}

.bottom_bar .copy_right {
    font-family: "Zen Maru Gothic", serif;
    font-style: normal;
    color: #494949;
    text-align: center;
    padding-top: 2em;
}

.bottom_bar a {
    color: rgb(110, 110, 110);
    text-decoration: none;
}

.bottom_bar li a {
    font-family: "Zen Maru Gothic", serif;
    font-style: normal;
    margin: 0px;
    padding-right: 1em;
}

.bottom_bar li {
    color: rgb(110, 110, 110);
}

.bottom_bar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.bottom_bar li:before {
    content: ">";
    padding-right: 3px;
}

.bottom_bar_contents {
    padding: 1.5em;
}